RewriteEngine On
RewriteBase /

# Redirect /build to /
RewriteRule ^build(/.*)?$ /$1 [R=301,L]

# Internally rewrite URLs for React Router
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ /index.html [L]
